@mixin buttons {
    font-size: 16px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #220901cc;
    color: white;
    border-radius: 6px;
    letter-spacing: 1px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;;
   
}