@mixin buttons {
    font-size: 20px;
    height: 50px;
    outline: none;
    border: none;
    background-color: #0A140E;
    color: white;
    border-radius: 6px;
    letter-spacing: 1px;
    font-weight: 900;
    font-family: 'Viga', sans-serif;
   
}